.modal.custom-modal {
    .modal-subtitle {
        font-size: 65%;
        margin-top: 0.75rem;
    }

    &.with-image {
        .modal-dialog {
            max-width: 80rem;
            width: 100%;
            width: 90vw;
        }

        .modal-image {
            display: inline-block;
            vertical-align: top;
            width: ~"calc(100% - 25rem)";

            .image {
                width: 100%;
                height: 40rem;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .image-text {
                padding: 2rem;
                font-size: 1.5rem;
            }
        }

        .modal-form {
            display: inline-block;
            vertical-align: top;
            width: 25rem;

            .modal-title {
                padding: 2rem 2rem 1rem;
            }

            .modal-body {
                padding: 1rem 2rem 2rem;
            }
        }

        @supports (display: flex) {
            .modal-content {
                display: flex;
            }

            .modal-image {
                display: flex;

                .image {
                    height: auto;
                }
            }
        }

        @media (max-width: 991px) {
            .modal-image {
                width: ~"calc(100% - 20rem)";
            }

            .modal-form {
                width: 20rem;
            }
        }

        @media (max-width: 700px) {
            .modal-content {
                display: block;
            }

            .modal-image {
                display: block;
                width: auto;

                .image {
                    height: auto;
                    min-height: 20rem;
                }
            }

            .modal-form {
                display: block;
                width: auto;
            }

            .close {
                color: #333;
                opacity: 1;
                text-shadow: 1px 1px #fff, -1px -1px #fff, -1px 1px #fff, 1px -1px #fff;
            }
        }
    }
}
